/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Tailwind Config */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Declare Variables */
:root {
  --primary: #6360AB;
  --secondary: #DCDCE4;
  --accent: #FAFAFA;
  --neutral: #808080;
}

/* Basic CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

body {
  color: black;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: var(--primary);
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

/* Custom Scrollbar */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  /* background-color: #aeaeafa1; */
  background-color: gray;
  border-radius: 5px;
}